dotfiles_user_home: "{{ '~' | expanduser }}"
dotfiles_home: "{{ dotfiles_user_home }}/dotfiles"

user: will
full_name: Will Pimblett
git_signing_key: null
locale: en_GB.UTF-8

# Defaults
has_wireless: no

# Packages
apt_repos:
  - name: tailscale
    repo: deb https://pkgs.tailscale.com/stable/ubuntu focal main
    key: https://pkgs.tailscale.com/stable/ubuntu/focal.gpg
  - name: spotify
    repo: deb https://repository.spotify.com stable non-free
    key: https://download.spotify.com/debian/pubkey_C85668DF69375001.gpg
  - name: vscode
    repo: deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main
    key: https://packages.microsoft.com/keys/microsoft.asc
  - name: libreoffice
    repo: ppa:libreoffice/ppa
  - name: githubcli
    repo: deb [arch=amd64] https://cli.github.com/packages stable main
    key: https://cli.github.com/packages/githubcli-archive-keyring.gpg

apt_packages:
  - audacity
  - baobab
  - build-essential
  - chromium-browser
  - code
  - curl
  - dconf-editor
  - fonts-noto
  - gpick
  - htop
  - httpie
  - imagemagick
  - inkscape
  - iperf
  - libjpeg-dev
  - libpq-dev
  - libreoffice
  - libxslt1-dev
  - meld
  - mpv
  - ncdu
  - nemo
  - p7zip-full
  - pass
  - pass-extension-otp
  - webext-browserpass
  - pasystray
  - pavucontrol
  - playerctl
  - powertop
  - pwgen
  - screen
  - software-properties-common
  - spotify-client
  - sshfs
  - sudo
  - syncthing
  - tailscale
  - tmux
  - units
  - unrar
  - vim
  - vlc
  - wget
  - whois
  - wine
  - zbar-tools
  - speedcrunch
  - libfuse2 # Needed for AppImages
  - wdisplays # arandr but for wayland
  - pandoc # Needed for Obsidian pandoc export
  - qtwayland5 # Makes nomacs work in wayland
  - cargo # to compile rust things
  - rustup # to upgrade the rust toolchain
  - ddcutil # for controlling monitors
  - progress # for checking progress for cp, mv, dd (https://github.com/Xfennec/progress)
  - net-tools # view routing table
  - v4l-utils # video4linux utils
  - libwireplumber-0.4-0 # for waybar
  - lxpolkit # PolicyKit authentication agent for GUI applications
  - gh # github cli
  - iotop
  - python-is-python3
  - copyq # clipboard manager
  - silversearcher-ag
  - wev
  - pkgconf
  - nomacs # image viewer

deb_packages:
  - pkg: bat
    url: https://github.com/sharkdp/bat/releases/download/v0.22.1/bat_0.22.1_amd64.deb
    version: "0.22.1"
  - pkg: dive
    url: https://github.com/wagoodman/dive/releases/download/v0.10.0/dive_0.10.0_linux_amd64.deb
    version: "0.10.0"
  - pkg: lsd
    url: https://github.com/lsd-rs/lsd/releases/download/v1.0.0/lsd_1.0.0_amd64.deb
    version: "1.0.0"
  - pkg: steam-launcher
    url: https://steamcdn-a.akamaihd.net/client/installer/steam.deb
    version: "latest"
  - pkg: zoxide
    url: https://github.com/ajeetdsouza/zoxide/releases/download/v0.9.3/zoxide_0.9.3-1_amd64.deb
    version: "0.9.3"
  - pkg: ripgrep
    url: https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep_14.1.0-1_amd64.deb
    version: "14.1.0"
  - pkg: ghostty
    url: https://github.com/mkasberg/ghostty-ubuntu/releases/download/1.2.3-0-ppa1/ghostty_1.2.3-0.ppa1_amd64_24.04.deb
    version: "1.2.3-0.ppa1"

bins:
  - name: aws-vault
    url: https://github.com/99designs/aws-vault/releases/download/v7.2.0/aws-vault-linux-amd64
    archive: false
  - name: difft
    url: https://github.com/Wilfred/difftastic/releases/download/0.43.1/difft-x86_64-unknown-linux-gnu.tar.gz
    archive: true

snaps:
  - httpie
  - gimp

snaps_classic:
  - obsidian

path:
  - "~/bin"
  - "~/dotfiles/bin"
  - "~/.local/bin"
  - "~/.poetry/bin"
  - "/usr/local/go/bin"
  - "~/go/bin"
  - "~/.local/share/JetBrains/Toolbox/scripts"
  - "~/.cargo/bin"

fish_variables:
  - name: fish_greeting
    value: ""
    mode: U
  - name: fish_color_normal
    value: normal
    mode: U
  - name: fish_color_command
    value: ffd75f
    mode: U
  - name: fish_color_quote
    value: cccc0c
    mode: U
  - name: fish_color_redirection
    value: 00afff
    mode: U
  - name: fish_color_end
    value: 00ff00
    mode: U
  - name: fish_color_error
    value: ff0000
    mode: U
  - name: fish_color_param
    value: 00ffc8
    mode: U
  - name: fish_color_comment
    value: a8a8a8
    mode: U
  - name: fish_color_match
    value: normal
    mode: U
  - name: fish_color_selection
    value: c0c0c0
    mode: U
  - name: fish_pager_color_progress
    value: brwhite --background=cyan
    mode: U
  - name: fish_pager_color_prefix
    value: normal --bold --underline
    mode: U
  - name: fish_pager_color_description
    value: B3A06D yellow
    mode: U
  - name: fish_pager_color_completion
    value: normal
    mode: U
  - name: fish_color_cancel
    value: normal
    mode: U
  - name: fish_color_host
    value: normal
    mode: U
  - name: fish_color_user
    value: 00ff00
    mode: U
  - name: fish_color_autosuggestion
    value: "555"
    mode: U
  - name: fish_color_valid_path
    value: normal
    mode: U
  - name: fish_color_cwd_root
    value: "800000"
    mode: U
  - name: fish_color_cwd
    value: ad73d9
    mode: U
  - name: fish_color_escape
    value: 00a6b2
    mode: U
  - name: fish_color_operator
    value: 00a6b2
    mode: U
  - name: fish_color_history_current
    value: normal
    mode: U
  - name: fish_color_search_match
    value: --background=b89442
    mode: U
  - name: EDITOR
    value: vim
    mode: Ux
  - name: VISUAL
    value: vim
    mode: Ux
  - name: DOCKER_BUILDKIT
    value: 1
    mode: Ux

pipx_packages:
  - name: pre-commit
  - name: virtualfish
  - name: icdiff
  - name: awscli
  - name: qmk
  - name: shell-gpt

cargo_user_packages:
  - cargo-update # run cargo-install-update install-update -a to update all installed packages
  - just
  - swayr
  - git-delta
  - bat

xdg_settings:
  - name: default-web-browser
    value: firefox_firefox.desktop

xdg_mime:
  - types:
      - image/png
      - image/jpeg
      - image/gif
      - image/bmp
      - image/webp
    handler: org.nomacs.ImageLounge.desktop
  - types:
      - x-scheme-handler/http
      - x-scheme-handler/https
    handler: firefox_firefox.desktop

flatpaks:
  - io.missioncenter.MissionCenter
  - com.plexamp.Plexamp
  - io.github.mrvladus.List # Errands
  - com.fastmail.Fastmail

paru_packages:
  - cursor-bin
  - spotify-launcher
  - ghostty
  - nemo
  - htop
  - mpv
  - uv
  - partitionmanager
  #- nomacs-git # AUR
  - satty
  - obsidian
  - wev