# - name: Add fish apt repo
#   become: yes
#   apt_repository:
#     repo: "ppa:fish-shell/release-3"
#   register: apt_repo

- name: Install fish
  become: yes
  package: name=fish state=present
  become_method: sudo

- name: Install fonts-powerline
  when: distro == "ubuntu"
  become: yes
  package: name=fonts-powerline state=present
  become_method: sudo

- name: Install powerline-fonts
  when: distro == "cachyos"
  become: yes
  package: name=powerline-fonts state=present
  become_method: sudo

- name: Install zoxide
  become: yes
  package: name=zoxide state=present
  become_method: sudo

- name: Get shell executable location
  command: which fish
  register: fish
  changed_when: fish.rc != 0

- name: Set fish as default shell
  user: name="{{ user }}" shell="{{ fish.stdout }}"
  become: yes

- name: Ensure config directory exists
  file:
    path: "{{ fish_dir }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0700"

- name: Link config files
  loop:
    - functions
    - completions
    - conf.d
  file:
    src: "{{ dotfiles_home }}/roles/fish/files/{{ item }}"
    dest: "{{ fish_dir }}/{{ item }}"
    state: link
    force: yes

- name: Add fish paths
  loop: "{{ path }}"
  args:
    executable: /usr/bin/bash
  shell: "set -o pipefail && echo fish_add_path {{ item }} | fish"
  register: fish_path
  failed_when: fish_path.rc > 1
  changed_when: fish_path.rc == 0

- name: Set fish variables
  loop: "{{ fish_variables }}"
  include_tasks: variable.yml
