[CloudStorage]
cloud_verification_status=3
email={{ subsurface_email }}
password={{ subsurface_password }}
save_password_local=true

[Display]
divelist_font=Noto Sans
font_size=10
three_m_based_grid=true

[DiveListColumnState]
showColumn16=false

[Equipment]
default_cylinder=12\x2113 232 bar

[Language]
UiLangLocale=en-GB
UiLanguage=English (United Kingdom)
date_format=ddd d MMM yyyy
date_format_short=dd/MM/yyyy
time_format=H:mm

[ListWidget]
colwidth0=99
colwidth15=104
colwidth18=764
colwidth4=80

[MainWindow]
bottomSplitter=@ByteArray(\0\0\0\xff\0\0\0\x1\0\0\0\x2\0\0\f\0\0\0\b\0\x1\xff\xff\xff\xff\x1\0\0\0\x1\0)
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\n\0\0\0\0\0\0\0\x13\xff\0\0\x5\x66\0\0\0\0\0\0\0\0\0\0\x3\\\0\0\x3\x1f\0\0\0\0\x2\0\0\0\n\0\0\0\n\0\0\0\0\0\0\0\x13\xff\0\0\x5\x66)
lastState=0
mainSplitter=@ByteArray(\0\0\0\xff\0\0\0\x1\0\0\0\x2\0\0\x3`\0\0\x2@\x1\xff\xff\xff\xff\x1\0\0\0\x2\0)
maximized=true
topSplitter=@ByteArray(\0\0\0\xff\0\0\0\x1\0\0\0\x2\0\0\n\0\0\0\n\0\x1\xff\xff\xff\xff\x1\0\0\0\x1\0)
windowState=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\n\0\0\0\x5P\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\0)

[TecDetails]
calcalltissues=true
calcceiling=true
gfhigh=80
gflow=50
pn2graph=true
po2graph=true
redceiling=true

[cylinderTableWidget]
colwidth0=41
colwidth1=41
colwidth10=41
colwidth11=41
colwidth12=0
colwidth13=0
colwidth14=0
colwidth2=41
colwidth3=77
colwidth4=0
colwidth5=0
colwidth6=41
colwidth7=41
colwidth8=100
colwidth9=67

[cylinders]
colwidth0=41
colwidth1=125
colwidth10=41
colwidth11=76
colwidth12=0
colwidth13=0
colwidth14=0
colwidth2=57
colwidth3=80
colwidth4=77
colwidth5=71
colwidth6=41
colwidth7=41
colwidth8=100
colwidth9=67

[cylinders_dialog]
column10_hidden=false
column11_hidden=false
column14_hidden=true
column2_hidden=false
column3_hidden=false
column4_hidden=false
column5_hidden=false
column6_hidden=false
column7_hidden=false
column8_hidden=false
column9_hidden=false

[diveSites]
colwidth0=49
colwidth1=49
colwidth2=530
colwidth3=530
colwidth4=78
colwidth5=0
colwidth6=0
colwidth7=0
colwidth8=0

[tableWidget]
colwidth0=49
colwidth1=94
colwidth2=76
colwidth3=77
colwidth4=76
colwidth5=0
colwidth6=0

[weights]
colwidth0=41
colwidth1=41
colwidth2=51
