[submodule "fonts-icon/Font-Awesome"]
	path = fonts-icon/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "fonts-icon/material-design-icons"]
	path = fonts-icon/material-design-icons
	url = https://github.com/google/material-design-icons
[submodule "fonts-icon/MaterialDesign-Webfont"]
	path = fonts-icon/MaterialDesign-Webfont
	url = https://github.com/Templarian/MaterialDesign-Webfont
[submodule "fonts-icon/typicons.font"]
	path = fonts-icon/typicons.font
	url = https://github.com/stephenhutchings/typicons.font
