apps/** filter=lfs diff=lfs merge=lfs -text
bin/barista filter=lfs diff=lfs merge=lfs -text
bin/kindlegen filter=lfs diff=lfs merge=lfs -text
roles/fonts/files/** filter=lfs diff=lfs merge=lfs -text
wallpapers/** filter=lfs diff=lfs merge=lfs -text
bin/git-absorb filter=lfs diff=lfs merge=lfs -text
