[Unit]
Description=Workstyle - workspace icon manager
BindsTo=sway-session.target

[Service]
ExecStart=workstyle
Restart=on-failure
StandardOutput=file:%h/.local/state/workstyle.log
StandardError=file:%h/.local/state/workstyle.log

[Install]
WantedBy=sway-session.target
