[Unit]
Description=Workstyle - workspace icon manager
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=workstyle
Restart=on-failure
StandardOutput=file:%h/.local/state/workstyle.log
StandardError=file:%h/.local/state/workstyle.log

[Install]
WantedBy=graphical-session.target
