window {
  margin: 0;
  border: 1px solid #08538c;
  border-radius: 8px;
  background-color: #282a36;
}

#input {
  margin: 6px;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  color: #f8f8f2;
  background-color: #44475a;
  font-size: 14px;
}

#inner-box {
  margin: 4px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 4px;
  border: none;
  background-color: #282a36;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  margin: 8px 8px;
  border: none;
  color: #f8f8f2;
}

#entry {
  border-radius: 4px;
  transition: background-color 150ms ease-out;
  border-left: 3px solid transparent;
}

#entry.activatable #text {
  color: #282a36;
}

#entry > * {
  color: #f8f8f2;
}

#entry:selected {
  background-color: #41445b;
  border-left: 3px solid white;
}

#entry:selected #text {
  font-weight: 600;
}
