{% for mount in mounts %}
{{mount.name}} -fstype=fuse,rw,uid=1000,gid=1000,nodev,nonempty,noatime,allow_other,Ciphers=aes128-ctr,Compression=no,max_read=65536 :sshfs\#{{mount.host}}\:{{mount.path}}
{% endfor %}
