- name: Build an authorized_keys file from files in the keys directory
  assemble:
    src: keys
    dest: /home/{{ user }}/.ssh/authorized_keys
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0600
