- name: Configure SSH client
  include_tasks: config.yml

- name: Install authorized_keys file
  include_tasks: authorized_keys.yml

- name: Install ssh server if desired for this host
  when: sshd is defined and sshd
  include_tasks: sshd.yml
