- name: Install ssh server
  when: distro == "ubuntu"
  become: yes
  apt:
    name: openssh-server
    state: present

- name: Disallow ssh password authentication
  become: yes
  notify: Reload sshd
  copy:
    content: |
      PasswordAuthentication no
    dest: /etc/ssh/sshd_config.d/50-password-authentication.conf
    owner: root
    group: root
    mode: 0644

- name: Disallow ssh root login
  become: yes
  notify: Reload sshd
  copy:
    content: |
      PermitRootLogin no
    dest: /etc/ssh/sshd_config.d/50-permit-root-login.conf
    owner: root
    group: root
    mode: 0644

- name: Enable ssh server (Ubuntu)
  when: distro == "ubuntu"
  become: yes
  systemd:
    name: ssh
    state: started
    enabled: yes

- name: Enable ssh server (CachyOS)
  when: distro == "cachyos"
  become: yes
  systemd:
    name: sshd
    state: started
    enabled: yes