* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "NotoSans Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(22, 36, 66, 0.7);
  border-bottom: 3px solid rgba(71, 81, 89, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.33s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: rgba(22, 36, 66, 0.3);
}

window#waybar.solo {
  background-color: rgba(22, 36, 66, 0.5);
}

#workspaces button {
  padding: 0 7px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.visible {
  background-color: rgba(8, 83, 140, 0.5);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: rgba(8, 83, 140, 1);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

@keyframes blinking-urgent {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #ef0a1a;
  }
}

@keyframes blinking-critical {
  from {
    background-color: #f53c3c;
    color: white;
  }
  to {
    background-color: #ffe1e1;
    color: #000000;
  }
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#mpris {
  padding: 0 3px;
  margin-right: 2px;
  color: #ccc;
}

#mode {
  padding: 0 8px;
  margin-left: 3px;
  margin-right: 5px;
  color: white;
  background-color: #c00;
  border-bottom: 3px solid #f55;
  font-weight: 900;
}

.critical {
  color: white;
  box-shadow: inset 0 -3px #ff0000;
}

.warning {
  color: white;
  box-shadow: inset 0 -3px #ff9915;
}

#clock {
  padding: 0 8px 0 6px;
  color: white;
}

#window,
#workspaces {
  margin: 0 4px;
}

#window {
  box-shadow: inset 0 -3px #08538c;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #64727d;
}

#battery {
}

#battery.discharging {
  box-shadow: inset 0 -3px #fff;
  color: white;
}

#battery.charging {
  box-shadow: inset 0 -3px #ff9915;
  color: #ffffff;
}

#battery.plugged,
#battery.full {
  color: #ccc;
  background: none;
  box-shadow: none;
}

#battery.warning:not(.charging) {
  padding: 0 6px;
  color: #000;
  background-color: #ffae44;
  box-shadow: inset 0 -3px #ff9100;
}

#battery.critical:not(.charging) {
  padding: 0 6px;
  background-color: #f53c3c;
  color: #ffffff;
  animation: blinking-critical 400ms infinite alternate linear;
  box-shadow: inset 0 -3px #ff0000;
}

label:focus {
  background-color: #000000;
}

#cpu {
  min-width: 3.5em; /* to avoid reflow when the value changes */
}

#memory {
  min-width: 3.5em; /* to avoid reflow when the value changes */
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
  background-color: #f53c3c;
  box-shadow: inset 0 -3px #ff0000;
  color: white;
}

#pulseaudio {
  box-shadow: inset 0 -3px rgba(255, 255, 255, 0.35);
}

#pulseaudio.muted {
  box-shadow: inset 0 -3px #ff9915;
}

#temperature {
}

#temperature.critical {
  color: white;
  box-shadow: inset 0 -3px #ff0000;
}

#tray {
  margin-right: 4px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  margin-right: 4px;
}

#idle_inhibitor.activated {
  background-color: #fcba03;
  color: black;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#mpris {
  color: rgba(255, 255, 255, 0.4);
}

#mpris.playing {
  color: #ccc;
  box-shadow: inset 0 -3px rgba(255, 255, 255, 0.6);
}

#mpris.firefox {
  box-shadow: inset 0 -3px rgba(255, 153, 21, 0.4);
}

#mpris.firefox.playing {
  box-shadow: inset 0 -3px rgba(255, 153, 21, 0.8);
}

#custom-governor {
  margin-left: -4px;
  margin-right: 4px;
}
