- name: Setup nemo preferences
  loop:
    - key: "default-folder-viewer"
      value: "'list-view'"
    - key: "show-computer-icon-toolbar"
      value: "true"
    - key: "show-full-path-titles"
      value: "false"
    - key: "show-hidden-files"
      value: "true"
    - key: "show-home-icon-toolbar"
      value: "true"
    - key: "show-location-entry"
      value: "true"
    - key: "show-open-in-terminal-toolbar"
      value: "true"
    - key: "show-show-thumbnails-toolbar"
      value: "true"
    - key: "size-prefixes="
      value: "'base-10'"
    - key: "date-format"
      value: "'iso'"
  dconf:
    key: "{{ nemo_dconf_path }}/{{ item.key }}"
    value: "{{ item.value }}"

- name: Get terminal for nemo
  shell: |
    gsettings get org.cinnamon.desktop.default-applications.terminal exec
  register: terminal
  changed_when: false

- name: Set terminal for nemo
  when: (terminal.stdout | trim) != "'ghostty'"
  shell: |
    gsettings set org.cinnamon.desktop.default-applications.terminal exec ghostty