

# Need to refer by index https://github.com/regolith-linux/regolith-desktop/issues/84#issuecomment-520169715
workspace "$ws1"  output $screen_left
workspace "$ws2"  output $screen_left
workspace "$ws3"  output $screen_left
workspace "$ws4"  output $screen_left
workspace "$ws5"  output $screen_left
workspace "$ws6"  output $screen_left
workspace "$ws7"  output $screen_left
workspace "$ws8"  output $screen_left

workspace "$ws11" output $screen_right
workspace "$ws12" output $screen_right
workspace "$ws13" output $screen_right
workspace "$ws14" output $screen_right
workspace "$ws15" output $screen_right
workspace "$ws16" output $screen_right
workspace "$ws17" output $screen_right
workspace "$ws18" output $screen_right

workspace $wsA output $screen_internal
workspace $wsB output $screen_internal
workspace $wsC output $screen_internal
workspace $wsD output $screen_internal

###############################################################################
# Launcher dialogs
###############################################################################

## Launch // Password Manager // <◇> j ##
set_from_resource $i3-wm.program.password i3-wm.program.password
bindsym $mod+j exec $i3-wm.program.password


## Launch // Type Date // <◇> y ##
bindsym $mod+y exec "sleep 0.5 && date +%Y-%m-%d  | sed 's/./usleep 2,str &,/g' | xargs -d, xte"

###############################################################################
# Window and Workspace Navigation
###############################################################################



## Navigate // Scratchpad // <◇><Ctrl> a ##
bindsym $mod+Ctrl+a scratchpad show

## Navigate // Named Workspace // <◇>? _ ##
bindsym $mod+minus exec i3-input -f 'pango:Inconsolata 20' -F 'workspace %s' -P 'GOTO: '


###############################################################################
# Window and Workspace Configuration
###############################################################################


## Modify // Move to Scratchpad // <◇><Ctrl> m ##
bindsym $mod+Ctrl+m move to scratchpad

## Modify // Tile/Float Focus Toggle // <◇><Shift> t ##
bindsym $mod+Shift+t focus mode_toggle





## Modify // Move To Named Workspace // <◇><Shift> _ ##
bindsym $mod+Shift+minus exec i3-input -f 'pango:Inconsolata 20' -F 'move container to workspace %s' -P 'MVTO: '

## Modify // Tab Name // <◇># _ ##
bindsym $mod+numbersign exec i3-input -f 'pango:Inconsolata 20' -F 'title_format %s' -P 'NAME: '

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

###############################################################################
# Session Management
###############################################################################

## Session // Terminate App // <◇><Shift> q ##
bindsym $mod+Shift+q [con_id="__focused__"] exec --no-startup-id kill -9 $(xdotool getwindowfocus getwindowpid)


####################################k###########################################
# System Management
###############################################################################

## Launch // Settings // <◇> F2 ##
set_from_resource $i3-wm.program.settings i3-wm.program.settings gnome-control-center
bindsym $mod+F2 exec $i3-wm.program.settings

## Launch // Notification Viewer // <◇> n ##
set_from_resource $i3-wm.program.notification_ui i3-wm.program.notification_ui /usr/bin/rofication-gui
bindsym $mod+Shift+n exec $i3-wm.program.notificatiohen_ui

## Launch // Screenshot // <PrtSc> ##
## Launch // Screenshot // <◇> m ##
bindsym --release Print exec --no-startup-id flameshot gui
bindsym --release $mod+m exec --no-startup-id flameshot gui



###############################################################################
# Workspace Management
###############################################################################

# i3-snapshot for load/save current layout
## Modify // Save Window Layout // <◇> , ##
bindsym $mod+comma  exec /usr/bin/i3-snapshot -o > /tmp/i3-snapshot
## Modify // Load Window Layout // <◇> . ##
bindsym $mod+period exec /usr/bin/i3-snapshot -c < /tmp/i3-snapshot



# Cause Settings app to float above tiled windows
floating_maximum_size -1 x -1

###############################################################################
# Window Resize and Gaps
###############################################################################



bindsym --whole-window --border $mod+shift+button4 resize shrink height 5 px or 5 ppt
bindsym --whole-window --border $mod+shift+button5 resize grow height 5 px or 5 ppt
bindsym --whole-window --border $mod+button5 resize shrink width 5 px or 5 ppt
bindsym --whole-window --border $mod+button4 resize grow width 5 px or 5 ppt

###
# HA
###

bindsym Mod1+Mod4+u exec $HOME/bin/hass service call scene.turn_on --arguments entity_id=scene.bedroom_day
bindsym Mod1+Mod4+i exec $HOME/bin/hass service call scene.turn_on --arguments entity_id=scene.bedroom_evening_desk
bindsym Mod1+Mod4+o exec $HOME/bin/hass service call scene.turn_on --arguments entity_id=scene.bedroom_evening
bindsym Mod1+Mod4+semicolon exec $HOME/bin/hass service call scene.turn_on --arguments entity_id=scene.bedroom_off

###############################################################################
# i3 Appearance and Behavior
###############################################################################

# Disable titlebar
set_from_resource $i3-wm.window.border.size i3-wm.window.border.size 1
set_from_resource $i3-wm.floatingwindow.border.size i3-wm.floatingwindow.border.size 1
default_border normal 1
default_floating_border pixel $i3-wm.floatingwindow.border.size

# Specify the distance between windows in pixels. (i3-gaps)
set_from_resource $i3-wm.gaps.inner.size i3-wm.gaps.inner.size 0
set_from_resource $i3-wm.gaps.outer.size i3-wm.gaps.outer.size 0
gaps inner $i3-wm.gaps.inner.size
gaps outer $i3-wm.gaps.outer.size

# Only enable gaps on a workspace when there is at least one container
set_from_resource $i3-wm.gaps.smart i3-wm.gaps.smart on
smart_gaps $i3-wm.gaps.smart

# Enable popup during fullscreen
set_from_resource $i3-wm.gaps.popup_during_fullscreen i3-wm.gaps.popup_during_fullscreen smart
popup_during_fullscreen $i3-wm.gaps.popup_during_fullscreen

# window focus follows your mouse movements as the mouse crosses window borders
set_from_resource $i3-wm.gaps.focus_follows_mouse i3-wm.gaps.focus_follows_mouse yes
focus_follows_mouse $i3-wm.gaps.focus_follows_mouse

###############################################################################
# i3 Colors and Fonts
###############################################################################

# Create variables from Xresources for i3's look.
set_from_resource $focused.color.border i3-wm.client.focused.color.border "#002b36"
set_from_resource $focused.color.background i3-wm.client.focused.color.background "#586e75"
set_from_resource $focused.color.text i3-wm.client.focused.color.text "#fdf6e3"
set_from_resource $focused.color.indicator i3-wm.client.focused.color.indicator "#268bd2"
set_from_resource $focused.color.child_border i3-wm.client.focused.color.child_border

set_from_resource $focused_inactive.color.border i3-wm.client.focused_inactive.color.border "#002b36"
set_from_resource $focused_inactive.color.background i3-wm.client.focused_inactive.color.background "#073642"
set_from_resource $focused_inactive.color.text i3-wm.client.focused_inactive.color.text "#839496"
set_from_resource $focused_inactive.color.indicator i3-wm.client.focused_inactive.color.indicator "#073642"
set_from_resource $focused_inactive.color.child_border i3-wm.client.focused_inactive.color.child_border

set_from_resource $unfocused.color.border i3-wm.client.unfocused.color.border "#002b36"
set_from_resource $unfocused.color.background i3-wm.client.unfocused.color.background "#073642"
set_from_resource $unfocused.color.text i3-wm.client.unfocused.color.text "#839496"
set_from_resource $unfocused.color.indicator i3-wm.client.unfocused.color.indicator "#073642"
set_from_resource $unfocused.color.child_border i3-wm.client.unfocused.color.child_border

set_from_resource $urgent.color.border i3-wm.client.urgent.color.border "#002b36"
set_from_resource $urgent.color.background i3-wm.client.urgent.color.background "#dc322f"
set_from_resource $urgent.color.text i3-wm.client.urgent.color.text "#fdf6e3"
set_from_resource $urgent.color.indicator i3-wm.client.urgent.color.indicator "#002b36"
set_from_resource $urgent.color.child_border i3-wm.client.urgent.color.child_border


# Window Border color
# class                 border                             background                         text                               indicator                          child_border
#client.focused          $focused.color.border              $focused.color.background          $focused.color.text                $focused.color.indicator           $focused.color.child_border
#client.focused_inactive $focused_inactive.color.border     $focused_inactive.color.background $focused_inactive.color.text       $focused_inactive.color.indicator  $focused_inactive.color.child_border
#client.unfocused        $unfocused.color.border            $unfocused.color.background        $unfocused.color.text              $unfocused.color.indicator         $unfocused.color.child_border
#client.urgent           $urgent.color.border               $urgent.color.background           $urgent.color.text                 $urgent.color.indicator            $urgent.color.child_border

# class                 border  backgr. text    indicator child_border
client.focused          #005B9F #005B9F #ffffff #f505f3   #0e8ceb
client.focused_inactive #333333 #184363 #ffffff #484e50   #5f676a
client.unfocused        #1D1D1D #1D1D1D #888888 #292d2e   #222222
client.urgent           #EA141E #900000 #ffffff #900000   #ff0000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

# Create variables from Xresources for i3bars's look.
set_from_resource $i3-wm.bar.background.color i3-wm.bar.background.color "#000000"
set_from_resource $i3-wm.bar.statusline.color i3-wm.bar.statusline.color "#93a1a1"
set_from_resource $i3-wm.bar.separator.color i3-wm.bar.separator.color "#268bd2"

set_from_resource $i3-wm.bar.workspace.focused.border.color i3-wm.bar.workspace.focused.border.color "#073642"
set_from_resource $i3-wm.bar.workspace.focused.background.color i3-wm.bar.workspace.focused.background.color "#073642"
set_from_resource $i3-wm.bar.workspace.focused.text.color i3-wm.bar.workspace.focused.text.color "#eee8d5"

set_from_resource $i3-wm.bar.workspace.active.border.color i3-wm.bar.workspace.active.border.color "#073642"
set_from_resource $i3-wm.bar.workspace.active.background.color i3-wm.bar.workspace.active.background.color "#073642"
set_from_resource $i3-wm.bar.workspace.active.text.color i3-wm.bar.workspace.active.text.color "#586e75"

set_from_resource $i3-wm.bar.workspace.inactive.border.color i3-wm.bar.workspace.inactive.border.color "#002b36"
set_from_resource $i3-wm.bar.workspace.inactive.background.color i3-wm.bar.workspace.inactive.background.color "#002b36"
set_from_resource $i3-wm.bar.workspace.inactive.text.color i3-wm.bar.workspace.inactive.text.color "#586e75"

set_from_resource $i3-wm.bar.workspace.urgent.border.color i3-wm.bar.workspace.urgent.border.color "#dc322f"
set_from_resource $i3-wm.bar.workspace.urgent.background.color i3-wm.bar.workspace.urgent.background.color "#dc322f"
set_from_resource $i3-wm.bar.workspace.urgent.text.color i3-wm.bar.workspace.urgent.text.color "#fdf6e3"

# Sets i3 font for dialogs
set_from_resource $i3-wm.font i3-wm.font pango:DejaVu Sans Mono 9
font pango:DejaVu Sans Mono 9

###############################################################################
# i3 Bar
###############################################################################

set_from_resource $i3-wm.bar.position i3-wm.bar.position bottom
set_from_resource $i3-wm.bar.font i3-wm.bar.font pango:DejaVu Sans Mono 9, Material Design Icons 13
set_from_resource $i3-wm.bar.separator i3-wm.bar.separator "|"
set_from_resource $i3-wm.bar.trayoutput i3-wm.bar.trayoutput none
set_from_resource $i3-wm.bar.stripworkspacenumbers i3-wm.bar.stripworkspacenumbers yes

# i3xrocks config file. Override this for custom status indicators on the bar.
set_from_resource $i3-wm.bar.status_command i3-wm.bar.status_command i3xrocks -u ~/.config/regolith/i3xrocks/conf.d -d /etc/regolith/i3xrocks/conf.d

# The bar configuration
bar {
  position $i3-wm.bar.position
  font pango:DejaVu Sans Mono 10
  separator_symbol $i3-wm.bar.separator
  status_command i3status
  tray_output primary
  strip_workspace_numbers $i3-wm.bar.stripworkspacenumbers

  colors {
      background #000000
      statusline $i3-wm.bar.statusline.color
      separator  "#444444"

#                        BORDER  BACKGROUND TEXT
#      focused_workspace  $i3-wm.bar.workspace.focused.border.color      $i3-wm.bar.workspace.focused.background.color   $i3-wm.bar.workspace.focused.text.color
#      active_workspace   $i3-wm.bar.workspace.active.border.color       $i3-wm.bar.workspace.active.background.color    $i3-wm.bar.workspace.active.text.color
#      inactive_workspace $i3-wm.bar.workspace.inactive.border.color     $i3-wm.bar.workspace.inactive.background.color  $i3-wm.bar.workspace.inactive.text.color
#      urgent_workspace   $i3-wm.bar.workspace.urgent.border.color       $i3-wm.bar.workspace.urgent.background.color    $i3-wm.bar.workspace.urgent.text.color

        focused_workspace  #005B9F #005B9F #ffffff
        active_workspace   #707070 #707070 #ffffff
        inactive_workspace #333333 #333333 #888888
        urgent_workspace   #900000 #900000 #ffffff
        binding_mode       #CC0000 #900000 #ffffff
  }
}

###############################################################################
# External programs launched with i3
###############################################################################

# Start the installed regolith-compositor
set_from_resource $i3-wm.program.compositor i3-wm.program.compositor /usr/share/regolith-compositor/init
exec --no-startup-id $i3-wm.program.compositor

# Start Rofication for notifications
set_from_resource $i3-wm.program.notifications i3-wm.program.notifications /usr/bin/rofication-daemon
exec --no-startup-id $i3-wm.program.notifications

# Launch first time user experience script
set_from_resource $i3-wm.program.ftui i3-wm.program.ftui /usr/bin/regolith-ftue
exec --no-startup-id $i3-wm.program.ftui

# Hide the mouse pointer if unused for a duration
set_from_resource $i3-wm.program.unclutter i3-wm.program.unclutter /usr/bin/regolith-ftue /usr/bin/unclutter -b
exec --no-startup-id $i3-wm.program.unclutter

# User programs from Xresources
# To use, define an Xresource key i3-wm.program.[1-3] with the value of the program to launch.
# See https://regolith-linux.org/docs/howto/override-xres/ for details.
set_from_resource $i3-wm.program.1 i3-wm.program.1 :
exec --no-startup-id $i3-wm.program.1
set_from_resource $i3-wm.program.2 i3-wm.program.2 :
exec --no-startup-id $i3-wm.program.2
set_from_resource $i3-wm.program.3 i3-wm.program.3 :
exec --no-startup-id $i3-wm.program.3

####
# Floating windows
####

for_window [class="Arandr"] floating enable
for_window [class="SimpleScreenRecorder"] floating enable
for_window [class="plexamp"] floating enable
for_window [class="Ulauncher"] floating enable
for_window [class="java-lang-Thread"] floating enable
for_window [class="Workrave"] border none
for_window [class="Workrave"] floating enable
for_window [class="jetbrains-toolbox"] floating enable
for_window [class="1Password"] floating enable
for_window [class="1password"] floating enable
for_window [class="plexamp"] floating enable
for_window [class="Plexamp"] floating enable
for_window [title="About Mozilla Firefox"] floating enable
for_window [class="jetbrains-pycharm" title="win0"] floating enable
for_window [title="Welcome to PyCharm"] floating enable
for_window [class="MPlayer"] floating enable

####
# Workspace assignment
####

assign [class="jetbrains-pycharm"] "$ws1"
for_window [class="jetbrains-pycharm"] move to workspace "$ws1"

assign [class="Slack"] "$ws18"
assign [class="Mumble"] "$ws18"
assign [class="Spotify"] "$ws17"
assign [class="zoom"] "$ws15"
