- name: Run ubuntu install
  when: distro == "ubuntu"
  include_tasks: ubuntu.yml

- name: Run cachyos install
  when: distro == "cachyos"
  include_tasks: cachyos.yml

- name: Ensure config directories exist
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - "{{ sublime_text_config_dir }}/Packages"
    - "{{ sublime_merge_config_dir }}/Packages"

- name: Link sublime-text config
  file:
    src: "{{ dotfiles_home }}/roles/sublime/files/sublime-text"
    dest: "{{ sublime_text_config_dir }}/Packages/User"
    state: link
    force: yes

- name: Link sublime-merge config
  file:
    src: "{{ dotfiles_home }}/roles/sublime/files/sublime-merge"
    dest: "{{ sublime_merge_config_dir }}/Packages/User"
    state: link
    force: yes
