{% if screen_left is defined and screen_right is defined %}
output {{ screen_left }} pos 0 0 res {{ screen_left_w }}x{{ screen_left_h }}
output {{ screen_right }} pos {{ screen_left_w }} 0 res {{ screen_right_w }}x{{ screen_right_h }}

workspace 1 output {{ screen_left }}
workspace 2 output {{ screen_left }}
workspace 3 output {{ screen_left }}
workspace 4 output {{ screen_left }}
workspace 5 output {{ screen_left }}
workspace 6 output {{ screen_left }}
workspace 7 output {{ screen_left }}
workspace 8 output {{ screen_left }}

workspace 11 output {{ screen_right }}
workspace 12 output {{ screen_right }}
workspace 13 output {{ screen_right }}
workspace 14 output {{ screen_right }}
workspace 15 output {{ screen_right }}
workspace 16 output {{ screen_right }}
workspace 17 output {{ screen_right }}
workspace 18 output {{ screen_right }}
{% endif %}
