{
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 4, // Gaps between modules (4px)
    // Choose the order of the modules
    "modules-left": ["sway/workspaces", "sway/mode", "sway/window"],
    "modules-center": [],
    "modules-right": [
        // "mpd",
        // "mpris",
        "tray",
        "idle_inhibitor", 
        // "custom/media",
        "pulseaudio",
        "bluetooth",
        "backlight", 
        "network",
        "disk",
        "memory", 
        "cpu",
        "custom/governor",
        "temperature", 
        // "keyboard-state", // module keyboard-state: Unknown module: keyboard-state
        // "sway/language", 
        "battery",
        "clock"
        // end
    ],
    // Modules configuration
    "sway/workspaces": {
        "disable-scroll": false,
        "all-outputs": false
    },
    "keyboard-state": {
        "numlock": true,
        "capslock": true,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "",
            "unlocked": ""
        }
    },
    "sway/mode": {
        "format": "{}"
    },
    "sway/window": {
        "format": "{}",
        "icon": true
    },
    "mpd": {
        "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ⸨{songPosition}|{queueLength}⸩ {volume}% ",
        "format-disconnected": "Disconnected ",
        "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped ",
        "unknown-tag": "N/A",
        "interval": 2,
        "consume-icons": {
            "on": " "
        },
        "random-icons": {
            "off": "<span color=\"#f53c3c\"></span> ",
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": "",
            "playing": ""
        },
        "tooltip-format": "MPD (connected)",
        "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "clock": {
        // "timezone": "America/New_York",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}"
    },
    "cpu": {
        "format": "{usage}% 󰬸",
        "format-alt": "{usage}% {avg_frequency}GHz ",
        "tooltip": false,
        "interval": 2,
        "states": {
            "warning": 70,
            "critical": 90
        }
    },
    "custom/governor": {
        "exec": "~/dotfiles/bin/governor-icon",
        "interval": 2
    },
    "memory": {
        "format": "{}% ",
        "format-alt": "{used}/{swapUsed}/{total}GB ",
        "interval": 2,
        "states": {
            "warning": 70,
            "critical": 90
        }
    },
    "disk": {
        "format": "{percentage_free}% ",
        "format-alt": "{used} of {total} ",
        "path": "/",
        "states": {
            "warning": 88,
            "critical": 92
        }
    },
    "temperature": {
        // "thermal-zone": 2,
        {% if temp_hwmon_path is defined and temp_hwmon_file is defined %}
            "hwmon-path-abs": "{{ temp_hwmon_path }}",
            "input-filename": "{{ temp_hwmon_file }}",
        {% elif temp_hwmon_path is defined %}
            "hwmon-path": "{{ temp_hwmon_path }}",
        {% endif %}
        "critical-threshold": 80,
        // "format-critical": "{temperatureC}°C {icon}",
        "format": "{temperatureC}°C {icon}",
        "format-icons": ["󰸃", "󰔏"],
        "interval": 2
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": ["", "󰃠"],
        "on-click": "light -S 100",
        "on-click-middle": "light -S 50",
        "on-click-right": "light -S 1"
    },
    "battery": {
        "states": {
            // "good": 95,
            "warning": 20,
            "critical": 8
        },
        "format": "{capacity}% {power:.3}W {time} {icon}",
        "format-charging": "{capacity}% {power:.2}W {time} 󰂄",
        "format-plugged": "{capacity}% ",
        "format-full": "{capacity}% 󰂂",
        "format-alt": "{time} {icon}",
        "format-time": "{H}h{M}m",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": ["󰁺", "󰁼", "󰁾", "󰂀", "󰂂"],
        "interval": 3
    },
    "bluetooth": {
        // "controller": "controller1", // specify the alias of the controller if there are more than 1 on the system
        "format": "",
        "format-disabled": " OFF", // an empty format will hide the module
        "format-connected": " {num_connections}"
        // "tooltip-format": "{controller_alias}\t{controller_address}",
        // "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
        // "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}"
    },
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "format-wifi": "{signalStrength}% ",
        "format-ethernet": "󰈀",
        "tooltip-format": "{ifname} via {gwaddr} on {essid}",
        "format-linked": "{ifname} (No IP) 󰈀",
        "format-disconnected": "NET 󰈀 ",
        "format-alt": "{ifname}: {ipaddr}/{cidr} {essid} 󰩠",
    },
    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "format": "{volume}% {icon} {format_source}",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": "󰝟  {icon} {format_source}",
        "format-muted": "0% 󰝟 {format_source}",
        "format-source": "",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/media": {
        "format": "{icon} {}",
        "return-type": "json",
        "max-length": 40,
        "format-icons": {
            "spotify": "",
            "default": "🎜"
        },
        "escape": true,
        "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null" // Script in resources folder
        // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
    },
    "mpris": {
        "format": "{player_icon} {title}: {artist}",
        "format-paused": "{status_icon} <i>{title}: {artist}</i>",
        "player-icons": {
            "default": "󰐊",
            "mpv": "🎵",
            "spotify": "",
            "firefox": "󰈹"
        },
        "status-icons": {
            "paused": "󰏤"
        },
    }
}

