- name: Add repos
  when: distro == "ubuntu"
  loop: "{{ sway_apt_repos }}"
  become: yes
  apt_repository:
    repo: "{{ item }}"
    state: present

- name: Install apt packages
  when: distro == "ubuntu"
  become: yes
  apt: name={{ sway_apt_packages }} state=present

- name: Install cachyos packages
  when: distro == "cachyos"
  become: yes
  package: name={{ sway_cachyos_packages }} state=present
