- name: Create hard links for user fonts
  find:
    paths: "{{ role_path }}/files/fonts"
    patterns:
      - "*.ttf"
      - "*.otf"
    recurse: yes
  register: user_font_files

- name: Ensure ~/.local/share/fonts directory exists
  file:
    path: "~/.local/share/fonts"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755

- name: Create hard links for individual user font files
  file:
    src: "{{ item.path }}"
    dest: "~/.local/share/fonts/{{ item.path | basename }}"
    state: hard
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
  loop: "{{ user_font_files.files }}"
  register: fonts_copy

- name: Copy Nerd Font files
  find:
    paths: "{{ role_path }}/files/nerd"
    patterns:
      - "*.ttf"
      - "*.otf"
    recurse: yes
  register: nerd_font_files

- name: Create hard links for individual Nerd Font files
  file:
    src: "{{ item.path }}"
    dest: "~/.local/share/fonts/{{ item.path | basename }}"
    state: hard
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
  loop: "{{ nerd_font_files.files }}"
  register: nerd_fonts_copy

- name: Update fonts cache
  command: fc-cache -f -v
  when: fonts_copy.changed or nerd_fonts_copy.changed
